:root {
  --pp-text-main: #D3DAD9;
  --pp-button-bg: #DDA853;
  --pp-background-light: #44444E;
  --pp-background-borders: #2f2f36;
}

.accordion-item {
  border: 1px solid #2f2f36 !important;
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.background-light {
  background-color: var(--pp-background-light) !important;
  color: var(--pp-text-main) !important;
}

.text-main {
  color: var(--pp-text-main) !important;
}

.button-main {
  background-color: var(--pp-button-bg) !important;
  color: #37353E !important;
}

.App {
  text-align: center;
}

html, body, #root {
  background-color: #37353E;
}

body {
  background-color: #37353E;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
